__pycache__/

.env


*.pyc
*.pyd
*.pyo

.vscode/ # VS Code
.idea/   # PyCharm/IntelliJ IDEA
*.iml    # PyCharm/IntelliJ IDEA project files
.DS_Store # macOS system files

venv/
.venv/
env/

dist/
build/
*.egg-info/

.pytest_cache/
htmlcov/
.coverage

.ipynb_checkpoints/

*.log

src/evaluation/evaluation_data_copy/
src/evaluation/question_answer_generator/qa_data-Kopie.json
src/ingestion_pipeline/graph_llm_ingestion/rag_files
src/ingestion_pipeline/graph_llm_ingestion/llm_graph_images
src/ingestion_pipeline/graph_classical_model_ingestion/classical_graph_images
src/ingestion_pipeline/graph_classical_model_ingestion/rag_files
poetry.lock
pyproject.toml
vector_retriever_test.py
graph_retriever_test.py
.deepeval_telemetry.txt
test_files_graph
.vscode